body{
		font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

p{
	text-align: left;
}

div{
	background-color: #ff6e40 ;
}

h4{
	text-align: right;

	font-size: 2rem;

}

