body{
		font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

.nav {
	background-color: #76ff03;
	text-align: left;
	  background-size: cover
	  color: white;
}
		
.main{
	background-color: #76ff03;
}

h2{
	font-size: 50px !important;
}

li{
	font-size: 25px !important;
}

h4{
	text-align: right;
}

