body{
		font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

.nav {
	background-color: yellow;
	text-align: left;
	  background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/00/13/58/10564c76739f4b7.jpg");
	  background-size: cover
}
		
.main{
	background-color: yellow;
}

h2{
	color: white;
	font-size: 50px !important;
}

li{
	font-size: 25px !important;
}

h4{
	text-align: right;
}